[Unit]
Description=WiFi watchdog timer (runs every 60 seconds)

[Timer]
OnBootSec=120
OnUnitActiveSec=60
AccuracySec=5

[Install]
WantedBy=timers.target
